<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "https://sev.msu.ru"
    Header always set Access-Control-Allow-Methods "GET, OPTIONS"
    Header always set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept"
    Header always set Vary "Origin"
</IfModule>
